<main>
  <svg class="logo-svg" viewBox="0 0 501.21 403.93">
    <defs>
      <style>
        .cls-1 {
          fill: #fff;
        }

        .cls-1,
        .cls-2 {
          stroke-miterlimit: 10;
          stroke-width: 10px;
        }

        .cls-2 {
          fill: none;
        }

      </style>
    </defs>
    <g id="H">
      <line class="cls-1" x1="251.13" y1="398.93" x2="251.13" y2="5" />
      <line class="cls-1" x1="496.21" y1="398.93" x2="496.21" y2="5" />
      <line class="cls-1" x1="500.55" y1="201.96" x2="246.13" y2="201.96" />
    </g>
    <g id="D">
      <path class="cls-2" d="M220.33,187c250.14,0,250.14,88.19,250.14,197s0,197-250.14,197"
        transform="translate(-220.33 -182.01)" />
      <line class="cls-1" x1="5" y1="5" x2="5" y2="398.93" />
    </g>
  </svg>
  <hr class="logo-line" />
  <h1>DAVID HÄNNI</h1>
  <div class="information-container">
    <app-profile-image></app-profile-image>
    <app-portfolio-text></app-portfolio-text>
  </div>
</main>
<app-footer></app-footer>
