@import '../../../assets/variables';

.portfolio-text {
  width: 60%;
  margin-left: 10%;
  display: inline-flex;
  position: absolute;
  animation: loadText 3.5s ease-in forwards;
  font-size: 1.5em;
  color: $font;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  @media only screen and (max-width: 960px) {
    margin: auto;
    width: 100%;
    display: flex;
    font-size: 1.2em;
  }
}

@keyframes loadText {
  0% {
    opacity: 0;
  }

  57% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}
