.portfolio-text {
  width: 60%;
  margin-left: 10%;
  display: inline-flex;
  position: absolute;
  animation: loadText 3.5s ease-in forwards;
  font-size: 1.5em;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@keyframes loadText {
  0% {
    opacity: 0;
  }

  57% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}
